click==8.2.1
inquirerpy==0.3.4
markdown-it-py==4.0.0
mdurl==0.1.2
narwhals==2.1.1
numpy==2.3.2
packaging==25.0
pandas==2.3.1
pfzy==0.3.4
plotly==6.3.0
prompt_toolkit==3.0.51
Pygments==2.19.2
python-dateutil==2.9.0.post0
pytz==2025.2
rich==14.1.0
scipy==1.16.1
shellingham==1.5.4
six==1.17.0
tifffile==2025.6.11
typer==0.16.0
typing_extensions==4.14.1
tzdata==2025.2
wcwidth==0.2.13
